/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "normalize";
@import "boilerplate";

/* Color variables */

$background-one: #E5E8FF;
$background-two: #CED0E5;
$header-color: #EE6A37;

/* General Styles */

h1 {
  font-size: 1.4em;
  color: $header-color;
}

a, a:visited {
  color: #3B6275;
}

/* Layout Styles */

body {
  background-color: $background-two;
  font-family: Verdana, Geneva, sans-serif;
}

#header-background {
  margin: 0;
  top: 0;
  left: 0;
  z-index: -999;
  position: absolute;
  width: 100%;
  min-width: 1000px;
  height: 500px;
  @include gradientV($background-one, $background-two);
}

#wrapper {
  width: 640px;
  margin: 0 auto;
}

#header {
  padding-top: 10px;
  overflow: hidden;
  _height: 1%; /* IE hackery */
  .title {
    font-size: 2em;
    color: $header-color;
    font-weight: bold;
    text-decoration: none;
    float: left;
  }

  div.nav {
    float: right;
    margin-right: 20px;
    font-size: 1.2em;

    a {
      text-decoration: none;
    }
  }
}

#body {
  margin: 10px 0;
  background-color: #FFF;
  padding: 10px;
  @include borderRadius(5px);
}

#footer {
  margin: 10px 0;
  font-size: 0.8em;

  a {
    text-decoration: none;
    margin-right: 10px;
  }
}

/* App */

.notes {
  font-size: small;
}

#namethat-app {
  .tips-box {
    padding: 1px 5px;
    margin: 3px 0;
    @include borderRadius(5px);
    background-color: #D4E4F5;
    p {
      color: #333;
      font-size: 0.8em;
    }
  }
  
  #answer {
    width: 250px;
  }

  .app-links, .app-input, .app-status, #old-challenge-prompt {
    margin: 10px 0;
  }

  #friend-photo {
    display: block;
    margin: 0 auto;
    max-width: 500px;
    /* Resize the image for IE6 */
    width: expression(this.width > 500 ? 500: true);
  }

  .action-button .ui-icon {
    display: inline-block;
    margin-right: 5px;
  }

  .app-status {
    #status {
      @include borderRadius(5px);
      padding: 5px;
    }

    .correct {
      background-color: #8E8;
    }

    .wrong {
      background-color: #E99;
    }

    .info {
      background-color: #ED5;
    }
  }

  #old-challenge-prompt {
    margin: 10;
    font-style: italic;
  }

  #circle-image {
    display: none;
    position: absolute;
    width: 100px;
  }
}

.tooltip {
    display:none;
    background:transparent image-url("black_arrow.png");
    font-size:12px;
    height:70px;
    width:160px;
    padding:25px;
    color:#fff; 
}

