<h1>About NameThat</h1>
<p>NameThat is a quick app written by <a href="http://www.kingstontam.com">Kingston</a> because he was bored and pretty bad at remembering names.  Hence, NameThat came into existence.</p>
<p>There isn't really too much to the app other than just a chance to learn more about the Facebook API and other cool stuff.</p>
