<h1>How many names can you remember?</h1>
<div id="fb-loading">
  <p>Hi there, we're loading the Facebook interface now.  Please give us a sec while it loads.</p>
  <p><em>(If nothing happens, try reloading or just come back another time - the site might be down)</em></p>
</div>
<div id="error-pane" style="display: none">
  <p>Sorry, we encountered a bug loading your data.  Please try again and if that doesn't work, try again another time. :(</p>
</div>
<div id="fb-root"></div>
<script type="text/javascript">
  window.fbAsyncInit = function() {
    FB.init({
      appId: '<%= Settings.fb_app_id %>',
      status: true,
      cookie: false,
      xfbml: true
    });
    nameThat.initialize();
  };
  (function() {
    var e = document.createElement('script'); e.async = true;
    e.src = "https://connect.facebook.net/en_US/all.js";
    document.getElementById('fb-root').appendChild(e);
  }());
</script>
<div id="fb-login" style="display: none;">
<p><em>Dedicated to people who just can't remember names</em></p>
<p>Hi there!  This is just a quick side project I made to test how many of my Facebook friends' names I can remember (and hopefully improve a bit ;p).</p>
<fb:login-button show-faces="true" width="200" max-rows="1" perms="friends_photo_video_tags">Login with Facebook</fb:login-button>
<p class="notes">
<em>* The website doesn't store any of your Facebook data (none of that data goes to the server)</em>
</p>
</div>
<div id="namethat-loading" style="display: none">
  <%= image_tag "loading.gif", :id => "loading-image" %>
</div>
<div id="namethat-app" style="display: none">
  <div class="app-instructions">
    <p>Just type the first name (or full name) of the person in the photo.</p>
  </div>
  <div class="app-score">
    <strong>Your score: </strong><span id="score"></span>
  </div>
  <div class="app-links">
    <button class="action-button" title="Shortcut: Press 1 or !<br />Shows another photo of the same person" id="next-photo">Show Another Photo</button>
    <button class="action-button" title="Shortcut: Press 2 or #<br />Highlights the part of the photo where the person was tagged" id="tag-photo">Highlight Face</button>
    <button class="action-button" title="Shortcut: Press 3 or ><br />Skips the current question without affecting your score" id="skip-question">Skip Question</button>
  </div>
  <div class="app-input">
    <input id="answer" name="answer" autocomplete="off" type="text" />
    <button class="action-button" title="Shortcut: Press Enter"  id="check-answer">Check Answer</button>
  </div>
  <div class="app-status">
    <span id="status" style="opacity: 0"></span>
  </div>
  <img id="friend-photo" alt="Your Friend's Photo" />
  <%= image_tag "circle.png", :alt => "Tag", :id => "circle-image" %>
  <br />
  <script text="text/javascript">
    $(function() {
      var movein = function() {
        //Paranoids galore :P
        var a = "web";
        var b = "kingston";
        var c = "mat";
        var d = "@";
        var e = "mail";
        var f = e;
        f += b.substr(5, 2) + String.fromCharCode(58) + a + d + b + c.split("").reverse().join("") + ".com";
        $("#feedback-link").attr('href', f);
      };
      var bomb = function() {
        if ($("feedback-link").attr("href") == "#") {
          $("#feedback-link").attr('href', "http://xkcd.com");
        }
        return false;
      };
      $("#feedback-link").mouseover(movein);
      $("#feedback-link").mouseout(bomb);
      $("#feedback-link").click(movein);
    });
  </script>
  <p class="notes">
  <em>Feel free to <a id="feedback-link" href="#">send me</a> any feedback.</em>
  </p>
  <fb:like href="http://namethat.ktam.org/" send="true" width="450" show_faces="true" font="verdana"></fb:like>
</div>
