<h1>How many names can you remember?</h1>
<div id="fb-loading">
  <p>Hi there, we're loading the Facebook interface now.  Please give us a sec while it loads.</p>
  <p><em>(If nothing happens, try reloading or just come back another time - the site might be down)</em></p>
</div>
<div id="error-pane" style="display: none">
  <p>Sorry, we encountered a bug loading your data.  Please try again and if that doesn't work, try again another time. :(</p>
</div>
<div id="fb-root"></div>
<script type="text/javascript">
  window.fbAsyncInit = function() {
    FB.init({
      appId: '<%= Settings.fb_app_id %>',
      status: true,
      cookie: false,
      xfbml: true
    });
    nameThat.initialize();
  };
  (function() {
    var e = document.createElement('script'); e.async = true;
    e.src = "https://connect.facebook.net/en_US/all.js";
    document.getElementById('fb-root').appendChild(e);
  }());
</script>
<div id="fb-login" style="display: none;">
<p><em>Dedicated to people who just can't remember names</em></p>
<p>Hi there!  This is just a quick side project I made to test how many of my Facebook friends' names I can remember (and hopefully improve a bit ;p).</p>
<fb:login-button show-faces="true" width="200" max-rows="1" perms="friends_photo_video_tags">Login with Facebook</fb:login-button>
<p class="notes">
<em>* The website doesn't store any of your Facebook data (none of that data goes to the server)</em>
</p>
</div>
<div id="namethat-loading" style="display: none">
  <%= image_tag "loading.gif", :id => "loading-image" %>
</div>
<div id="namethat-app" style="display: none">
  <div class="app-instructions">
    <p>Just type the first name (last name if you're feeling daring) of the person you see in the photo.</p>
    <div class="tips-box">
      <p><strong>Picture sucks?</strong> Click the "Give me another photo of them" or type !.</p>
      <p><strong>Don't know which person?</strong> Click "Show Tag in Photo" or type #.</p>
      <p><strong>Still doesn't work?</strong> Click "Skip Question" (you won't be penalized) or type &gt;.</p>
    </div>
  </div>
  <div class="app-score">
    <strong>Your score: </strong><span id="score"></span>
  </div>
  <div class="app-input">
    <input id="answer" name="answer" autocomplete="off" type="text" />
    <input id="check" value="Check" type="button" />
  </div>
  <div class="app-links">
    <a href="#" id="next-photo">Give me another photo of them</a> |
    <a href="#" id="tag-photo">Show Tag in Photo</a> |
    <a href="#" id="skip-question">Skip Question</a>
  </div>
  <div class="app-status">
    <span id="status" style="opacity: 0"></span>
  </div>
  <img id="friend-photo" alt="Your Friend's Photo" />
  <%= image_tag "circle.png", :alt => "Tag", :id => "circle-image" %>
  <br />
  <script text="text/javascript">
    $(function() {
      var movein = function() {
        //Paranoids galore :P
        var a = "web";
        var b = "kingston";
        var c = "mat";
        var d = "@";
        var e = "mail";
        var f = e;
        f += b.substr(5, 2) + String.fromCharCode(58) + a + d + b + c.split("").reverse().join("") + ".com";
        $("#feedback-link").attr('href', f);
      };
      var bomb = function() {
        if ($("feedback-link").attr("href") == "#") {
          $("#feedback-link").attr('href', "http://xkcd.com");
        }
        return false;
      };
      $("#feedback-link").mouseover(movein);
      $("#feedback-link").mouseout(bomb);
      $("#feedback-link").click(movein);
    });
  </script>
  <p class="notes">
  <a id="feedback-link" href="#">Feedback welcome</a>
  </p>
  <fb:like href="http://namethat.ktam.org/" send="true" width="450" show_faces="true" font="verdana"></fb:like>
</div>
