<h1>Privacy Policy</h1>
<p>Very simply, <strong>I don't store any data</strong> from Facebook.  The entire application is run in javascript so I don't keep any data on the server.</p>
<p>(The only thing logged is the server logs, but that only stores the IP and not much else)</p>
